<p id="notice"><%= notice %></p>

<h1>Listings Judged</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><b>MLS Number</b></th>
      <th><b>Over Priced</b></th>
      <th><b>Under Priced</b></th>
      <th><b>Hot Look</b></th>
      <th><b>Actions</b></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.mls_num %></td>
        <td><%= listing.list_price_over %></td>
        <td><%= listing.list_price_under %></td>
        <td><%= listing.recognizable %></td>
        <td><%= link_to('Show', listing, :class => "btn btn-primary") %>
        <%# link_to 'Edit', edit_listing_path(listing) %>
        <%# link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Download to CSV", listings_path(format: "csv"), :class => "btn btn-primary" %>
<div class="col-md-12 text-center">
  <ul class="pagination pagination-lg pager" id="myPager"></ul>
</div>
<br>

<%= link_to 'New Listing', new_listing_path %>
